# DevOps team code owner configuration

**/Dockerfile @Koudmain/Koudmain-team-devops
**/.dockerignore @Koudmain/Koudmain-team-devops
**/docker-compose.* @Koudmain/Koudmain-team-devops
**/Makefile @Koudmain/Koudmain-team-devops
.github/ @Koudmain/Koudmain-team-devops
