# DevOps team code owner configuration

**/Dockerfile @Koudmain/Thomas222222222
**/.dockerignore @Koudmain/Thomas222222222
**/docker-compose.* @Koudmain/Thomas222222222
**/Makefile @Koudmain/Thomas222222222
.github/ @Koudmain/Thomas222222222
