##
## Path to the repositories
##

# Backend app
BACKEND_PATH_FOLDER='/path/to/backend/repo'
BACKEND_PATH_INIT_DB_FILE='/path/to/backend/init/file'
# Inside the container
WORKDIR_BACKEND_PATH_FOLDER='/usr/src/app'

# Worker app
WORKER_PATH_FOLDER='/path/to/worker/repo'
# Inside the container
WORKDIR_WORKER_PATH_FOLDER='/usr/src/app'

# Fronted app
WEB_PATH_FOLDER='/path/to/web/repo'
# Inside the container
WORKDIR_WEB_PATH_FOLDER='/usr/src/app'

# Mobile APP's
MOBILE_WORKER_PATH_FOLDER='/path/to/mobile-worker/repo'
# Inside the container
WORKDIR_MOBILE_WORKER_PATH_FOLDER='/usr/src/app'

MOBILE_CLIENT_PATH_FOLDER='/path/to/mobile-client/repo'
# Inside the container
WORKDIR_MOBILE_CLIENT_PATH_FOLDER='/usr/src/app'

##
## Postgresql database
##
DB_USER=postgres
DB_PASSWORD=change-me
DB_NAME=koudmain
DB_HOST=db
DB_PORT=5432

##
## Redis cache
##
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change-me
REDIS_DB=0

##
## Postgresql test database
##
DB_TEST_USER=postgres
DB_TEST_PASSWORD=change-me
DB_TEST_NAME=koudmain_test
DB_TEST_HOST=db
DB_TEST_PORT=2345

BACKEND_PATH_INIT_DB_TEST_FILE=${BACKEND_PATH_INIT_DB_FILE}

##
## Backend
##
PORT=3000
JWT_ACCESS_SECRET=my-secret
JWT_REFRESH_SECRET=my-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Google Drive API credentials
GOOGLE_DRIVE_CLIENT_ID=change-me
GOOGLE_DRIVE_CLIENT_SECRET=change-me
GOOGLE_DRIVE_REDIRECT_URI=https://developers.google.com/oauthplayground
GOOGLE_DRIVE_REFRESH_TOKEN=change-me
GOOGLE_DRIVE_FOLDER_ID=change-me

##
## Frontend
##

##
## Mobile worker
##

##
## Mobile client
##
