##
## Path to the repositories
##

# Backend app
BACKEND_PATH_FOLDER='/path/to/backend/repo'
BACKEND_PATH_INIT_DB_FILE='/path/to/backend/init/file'
# Inside the container
WORKDIR_BACKEND_PATH_FOLDER='/usr/src/app'

# Fronted app
WEB_PATH_FOLDER='/path/to/web/repo'
# Inside the container
WORKDIR_WEB_PATH_FOLDER='/usr/src/app'

# Mobile APP's
MOBILE_WORKER_PATH_FOLDER='/path/to/mobile-worker/repo'
# Inside the container
WORKDIR_MOBILE_WORKER_PATH_FOLDER='/usr/src/app'

MOBILE_CLIENT_PATH_FOLDER='/path/to/mobile-client/repo'
# Inside the container
WORKDIR_MOBILE_CLIENT_PATH_FOLDER='/usr/src/app'

##
## Postgresql database
##
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=koudmain
POSTGRES_HOST=db
POSTGRES_PORT=5432

##
## Backend
##
PORT=3000

##
## Frontend
##

##
## Mobile worker
##

##
## Mobile client
##