# ==========================================
# CONFIGURATION - DOCUMENSO KOUDMAIN
# .env.documenso pour docker-compose
# ==========================================

# [[Clés secrètes]]
NEXTAUTH_SECRET="change_me_in_production_secret_key"
NEXT_PRIVATE_ENCRYPTION_KEY="CAFEBABECAFEBABECAFEBABECAFEBABE"
NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY="DEADBEEFDEADBEEFDEADBEEFDEADBEEF"

# [[Routage Réseau]]
NEXT_PUBLIC_WEBAPP_URL="http://IP_OU_URL:3010"
NEXT_PRIVATE_INTERNAL_WEBAPP_URL="http://127.0.0.1:3000"

# [[Cache Redis]]
NEXT_PRIVATE_REDIS_URL="redis://:${REDIS_PASSWORD:-redis_password}@koudmain-redis:6379"

# [[STORAGE]]
NEXT_PUBLIC_UPLOAD_TRANSPORT="s3"
NEXT_PRIVATE_UPLOAD_TRANSPORT="s3"
NEXT_PUBLIC_STORAGE_PLAN="s3"
NEXT_PRIVATE_STORAGE_PLAN="s3"
NEXT_PRIVATE_UPLOAD_ENDPOINT="http://IP_OU_URL:9002"
NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE=true

NEXT_PRIVATE_UPLOAD_REGION="us-east-1"
NEXT_PRIVATE_UPLOAD_BUCKET="documenso"
NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID="documenso"
NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY="password"

# [[Configuration Interne Documenso]]
NEXT_PRIVATE_DATABASE_URL="postgres://${DB_USER}:${DB_PASSWORD}@koudmain-db:5432/documenso_db"
NEXT_PRIVATE_DIRECT_DATABASE_URL="postgres://${DB_USER}:${DB_PASSWORD}@koudmain-db:5432/documenso_db"
NEXT_PRIVATE_REDIS_URL="redis://:${REDIS_PASSWORD:-redis_password}@koudmain-redis:6379"
AWS_REGION="us-east-1"
NEXT_PRIVATE_JOBS_PROVIDER="local"
NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH="/app/cert.p12"
NEXT_PRIVATE_SIGNING_PASSPHRASE="password"
NEXT_PUBLIC_BILLING_ENABLED="false"
NEXT_PUBLIC_DISABLE_BILLING="true"

# [[SIGNING]]
# The transport to use for document signing. Available options: local (default) | gcloud-hsm | csc
NEXT_PRIVATE_SIGNING_TRANSPORT="local"


# [[SMTP]]
# OPTIONAL: Defines the transport to use for sending emails. Available options: smtp-auth (default) | smtp-api | mailchannels
NEXT_PRIVATE_SMTP_TRANSPORT="smtp-auth"
# OPTIONAL: Defines the host to use for sending emails.
NEXT_PRIVATE_SMTP_HOST="mailserver"
# OPTIONAL: Defines the port to use for sending emails.
NEXT_PRIVATE_SMTP_PORT=2500
# OPTIONAL: Defines the username to use with the SMTP server.
NEXT_PRIVATE_SMTP_USERNAME="documenso"
# OPTIONAL: Defines the password to use with the SMTP server.
NEXT_PRIVATE_SMTP_PASSWORD="password"
# REQUIRED: Defines the sender name to use for the from address.
NEXT_PRIVATE_SMTP_FROM_NAME="Documenso"
# REQUIRED: Defines the email address to use as the from address.
NEXT_PRIVATE_SMTP_FROM_ADDRESS="noreply@documenso.com".
# OPTIONAL: Displays the maximum document upload limit to the user in MBs
NEXT_PUBLIC_DOCUMENT_SIZE_UPLOAD_LIMIT=5